<div style="width:800px;height:500px;background-color:white;margin:auto;border:3px solid #333333;overflow:scroll;">
  <br>
<%=link_to_modal 'New Swipe Card', '/swipeCards/new', :class=>"btn-large btn-success"%>
<%=link_to_modal 'Recharge', '/swipeCards/recharge', :class=>"btn-large btn-primary"%>
<%=link_to_modal 'Refund', '/swipeCards/refund', :class=>"btn-large btn-warning"%>
</div>